*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  border: none;
  text-decoration: none;
  font-size: 6.25px;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  font-size: 1.7rem;
  height: 64px;
  background-color: #eaeaea;
  line-height: 64px;
}