<article class="card-post">
    <div class="container">
     <div class="row">

            {{ $paginator := .Paginate (where .Site.Pages "Type" "post") 6 }}
            {{ range $paginator.Pages }}
            
        
           <div class="col mb-4">
             <div class="list-group">
              <h6 class="list-group-item list-group-item-action">
                <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title }}</a>
               </h6>  
            </div>
          </div>
         
            {{ end }}
         </div>
    </div>
</article>

<br>

<div class="container">
    {{ partial "pagination.html" . }}
</div>